@@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: url('./fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: italic;
    src: url('./fonts/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('./fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    src: url('./fonts/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    src: url('./fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('./fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: italic;
    src: url('./fonts/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
    src: url('./fonts/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: url('./fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: italic;
    src: url('./fonts/Roboto-BlackItalic.ttf') format('truetype');
}

:root{
	--font-sans: "Roboto","metropolis", sans-serif;
    --font-serif: "Roboto", "Arial", "verdana", sans-serif;
}

@font-face {
    font-family: 'VinqueRg';
    src: url('fonts/VinqueRg.eot');
    src: url('fonts/VinqueRg.eot') format('embedded-opentype'),
         url('fonts/VinqueRg.woff2') format('woff2'),
         url('fonts/VinqueRg.woff') format('woff'),
         url('fonts/VinqueRg.ttf') format('truetype'),
         url('fonts/VinqueRg.svg#VinqueRg') format('svg');
}

h1, h2, h3, h4, h5, h6, .site-branding__name, .title .page-title{
  font-family: 'VinqueRg', 'Times New Roman', Times, serif;
}

h2.block__title{
  font-size: 1.4rem;
}

aside.region.region--sidebar > .contextual-region.block{
  margin-block-end: 0.5rem;
  margin-block-start: 1rem;
  padding-bottom:  1rem;
  border-bottom: 1px solid var(--color-text-primary-medium);
}

.view{
gap: 1.5rem
}